*/*/*__pycache__
*/*/*/__pycache__
empresa/__pycache__/*
seletie/__pycache__/+
empresa/__pycache__/models.cpython-310.pyc
empresa/__pycache__/views.cpython-310.pyc
seletie/__pycache__/urls.cpython-310.pyc
